<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> </h2>
    <table>
      <tr>
        <td>Name:</td>
        <td> <%=  @report.name.empty? ?  "-" : @report.name  %> </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td> <%=  @report.email.empty? ?  "-" : @report.email%> </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td> <%=  @report.phone.empty? ?  "-" : @report.phone %> </td>
      </tr>
      <tr>
        <td>Description:</td>
        <td> <%= @report.description%> </td>
      </tr>
      <tr>
        <td>Nearest address:</td>
        <td> <%= @report.address%> </td>
      </tr>
      <tr>
        <td>Position:</td>
        <td>
          <a href="https://www.google.com/maps/search/?api=1&query=<%=@report.latitude%>,<%=@report.longitude%>"> Google Maps <a/>
        </td>
      </tr>
    </table>
  </body>
</html>
